body {
    background-color: rgb(57, 57, 70) !important;
}

li {
    list-style: none;
}

p, h5 {
    color: rgb(255, 255, 255);
}

.aFooter {
    text-decoration: none;
    font-size: 2rem;
    color: antiquewhite;

    &:hover{
        color: rgb(238, 155, 0);
    }
}

img:hover {
    transform: scale(1.1);
    transition: 1s;
}

h1 {
    color: aliceblue;
}

.pheader {
    font-size: 2rem;
    color: rgb(255, 255, 255);

    span{
        color: rgb(238, 155, 0);
    }
}

.carrito {
    width: 40px;
    padding: auto;
    color: aliceblue;
    &:hover{
        color: rgb(238, 155, 0);
    }
}

.background {
    background-color: rgb(47, 47, 70);
}

.custom-card {
    background-color: rgb(47, 47, 70)!important;
}

.spanFooter {
    color: rgb(255, 255, 255);
}